<section class="all-users">
    <div class="navbar d-flex justify-content-between p-3 bg-white opacity-50">
        <div class="arrow cursor-pointer">
            <i class="fa-solid fa-caret-left"></i>
        </div>
        <div class="search d-flex justify-content-center align-items-center">
            <div class="inp position-relative">
                <input type="text" class="form-control px-3" placeholder="Search">
                <i class="fa-solid fa-magnifying-glass cursor-pointer font-md"></i>
            </div>
            <div class="bell-icon">
                <i class="fa-regular fa-bell px-3 cursor-pointer font-md"></i>
            </div>
        </div>
    </div>
    <div class="head d-flex justify-content-between p-3">
        <h2 class="font-xl font-bold">Users List</h2>
        <button class="add-btn">Add new user</button>
    </div>
    <table class="table">
        <thead>
            <th>Photo</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Enroll Number</th>
            <th>Date of admission</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersList">
                <td class="image-cell"><img [src]="user.image" alt=""></td>
                <td>{{user.firstName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.ip}}</td>
                <td>{{user.birthDate}}</td>
                <td><i class="fa-solid fa-pen mx-3 main-color"></i><i class="fa-solid fa-trash mx-3 main-color"></i></td>
            </tr>
        </tbody>
    </table>
</section>